@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

	// MAIN PAGE

	.item_title

		&_content
			padding: 40px 30px

	// MAIN PAGE

	.main_menu
		display: none
		padding: 20px

	.mobile_menu_button
		display: block

// ≥768px
+media-breakpoint-down(sm)

	.first_section
		padding-top: $gutter/2

	.container-fluid
		padding: 0 $gutter/2

	.top_ad
		margin-bottom: $gutter/2

// ≥576px
+media-breakpoint-down(xs)

	.logo
		font-size: 19px
		padding-left: $gutter/2

	.search_wrap

		.search
			padding-right: $gutter/2

	.no-gutters

		.pattern
			margin-bottom: $gutter/2


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
